ELSystem/ClientApp/Connected Services/TabService/ELSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ELSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ELSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tab">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurId" type="xs:int" />
      <xs:element minOccurs="0" name="TabId" type="xs:int" />
      <xs:element minOccurs="0" name="TabName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TabUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tab" nillable="true" type="tns:Tab" />
</xs:schema>