ELSystem/ClientApp/Connected Services/TabService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TabService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ELSystem" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITabService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ITabService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetAllTab_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTab" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetAllTab_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITabService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ITabService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ITabService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetFileContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetFileContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetAllTabNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabNames" />
  </wsdl:message>
  <wsdl:message name="ITabService_GetAllTabNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITabService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/Create" message="tns:ITabService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/CreateResponse" message="tns:ITabService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTab">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/GetAllTab" message="tns:ITabService_GetAllTab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/GetAllTabResponse" message="tns:ITabService_GetAllTab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/Update" message="tns:ITabService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/UpdateResponse" message="tns:ITabService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/Read" message="tns:ITabService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/ReadResponse" message="tns:ITabService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/Delete" message="tns:ITabService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/DeleteResponse" message="tns:ITabService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/GetFileContent" message="tns:ITabService_GetFileContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/GetFileContentResponse" message="tns:ITabService_GetFileContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTabNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabService/GetAllTabNames" message="tns:ITabService_GetAllTabNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabService/GetAllTabNamesResponse" message="tns:ITabService_GetAllTabNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITabService" type="tns:ITabService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ITabService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTab">
      <soap:operation soapAction="http://tempuri.org/ITabService/GetAllTab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITabService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ITabService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ITabService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <soap:operation soapAction="http://tempuri.org/ITabService/GetFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTabNames">
      <soap:operation soapAction="http://tempuri.org/ITabService/GetAllTabNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TabService">
    <wsdl:port name="BasicHttpBinding_ITabService" binding="tns:BasicHttpBinding_ITabService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ELSystem/TabService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>