ELSystem/ClientApp/Connected Services/CourseService/ELSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ELSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ELSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumberofTab" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
</xs:schema>