ELSystem/ClientApp/Connected Services/CourseService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ELSystem" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetAllCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetAllCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetAllCourseName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourseName" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetAllCourseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCourseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseId" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Create" message="tns:ICourseService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/CreateResponse" message="tns:ICourseService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetAllCourse" message="tns:ICourseService_GetAllCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetAllCourseResponse" message="tns:ICourseService_GetAllCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Update" message="tns:ICourseService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/UpdateResponse" message="tns:ICourseService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Read" message="tns:ICourseService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/ReadResponse" message="tns:ICourseService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Delete" message="tns:ICourseService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/DeleteResponse" message="tns:ICourseService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCourseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetAllCourseName" message="tns:ICourseService_GetAllCourseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetAllCourseNameResponse" message="tns:ICourseService_GetAllCourseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourseId" message="tns:ICourseService_GetCourseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCourseIdResponse" message="tns:ICourseService_GetCourseId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetAllCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCourseName">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetAllCourseName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseId">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourseId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ELSystem/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>